
a, a:hover, a:focus {
	color: #98C2D0;
}

.header-main + .page {
	margin-top: 68px;
}

/* === Navbar === */
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
	color: #98C2D0;
}
.navbar-default .navbar-brand:hover {
	color: #98C2D0;
}
.navbar-default, .navbar-default.navbar-fixed-top.navbar-shrink {
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #f188a2;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav>.active>a {
	color: #98C2D0 !important;
}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
	color: #f188a2;
}
.navbar-default.navbar-shrink .navbar-nav > li > a:hover, .navbar-default.navbar-shrink .navbar-nav > li > a:focus, .navbar-default.navbar-shrink .navbar-nav > li.active > a {
	color: #fff;
}
.navbar-default.navbar-shrink .navbar-nav > li.active > a {
	-webkit-box-shadow: inset 0 3px #fff !important;
	-moz-box-shadow: inset 0 3px #fff !important;
	box-shadow: inset 0 3px #fff !important;
}
.navbar-default .dropdown-menu {
	border: 1px solid #98C2D0;
	border-top: 2px solid #98C2D0;
	-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color: #98C2D0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #98C2D0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a {

}

.sub-listing {
	font: bold 14px/1.5em "Roboto";
	letter-spacing: 2px;
	list-style: disc;
	margin: 40px auto 0;
	max-width: 500px;
	text-align: left;
}
.sub-listing li {
	list-style: disc;
	margin-top: 20px;
}

@media only screen and (max-width: 767px) {
	.sub-listing {
		list-style: none;
		margin-top: 0;
		text-align: center;
	}
	.sub-listing li {
		list-style: none;
	}
}
/* Navbar inverse */
.navbar-inverse {
	background-color: #111;
	color: #CCC;
}
.navbar-inverse .navbar-brand {
	color: #CCC;
}
.navbar-inverse .navbar-nav > li > a {
	color: #CCC;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #98C2D0;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li.active > a {
	color: #98C2D0;
}
@media only screen and (max-width: 767px) {
	.navbar .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #98C2D0 !important;
	}
}
/* Navbar inverse dropdown */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #98C2D0;
}
.navbar-inverse .dropdown-menu {
	background-color: #1F1F1F;
	border: 1px solid #111;
	border-top: 2px solid #98C2D0;
}
.navbar-inverse .dropdown-menu > li > a {
	color: #CCC;
}
.navbar-inverse .dropdown-menu > li > a:hover, .navbar-inverse .dropdown-menu > li > a:focus {
	color: #98C2D0;
}
/* Navbar fixed */
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand {
	color: #fff;
}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand:hover {
	color: #98C2D0;
}
/* Navbar fixed inverse */
.navbar-inverse.navbar-fixed-top.navbar-shrink {
	background-color: #111;
}

.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
	color: #CCC;
}
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a, .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a:hover, .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a:focus,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a:hover, .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a:focus, .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li.active > a {
	background-color: transparent;
	color: #98C2D0;
}

.navbar-fixed-top.navbar-shrink .navbar-brand, .navbar-fixed-top.navbar-shrink .navbar-brand:focus, body.boxed .body .navbar-inverse.navbar-transparent.navbar-shrink .navbar-brand {
	color: #CCC;
}
.navbar-fixed-top.navbar-shrink .navbar-brand:hover {
	color: #98C2D0;
}



/* === Text Carousel === */
#text-carousel-intro-section {
	background-color: #25282a;
}



/* === Rotate Box === */
.rotate-box-1.square-icon .rotate-box-icon, .rotate-box-2.square-icon .rotate-box-icon {
	background-color: #98C2D0;
}



/* === Progress Bar === */
.progress {
	border: 3px solid #98C2D0;
	background-color: transparent;
}
.progress-bar {
	background-color: #98C2D0;
}



/* === CTA Section, Social & Partners === */
#cta-section, #partners-section, #social-section, .cta-section:nth-child(even) {
	background: #f8f8f8 url('../../img/pat-bg.png') repeat;
}
.cta-section__title {
	font-size: 36px;
}
.cta-section__position {
	font-size: 18px;
	font-weight: normal;
}
.cta-section__subtitle {
	font-size: 26px;
	margin-top: 15px;
}
.cta-section ul li {
	list-style: disc;
	margin-left: 15px;
}
.cta-btn .btn {
	display: block;
	margin-bottom: 10px;
}


/* === Portfolio === */
.active_prot_menu a, .portfolio_menu ul li a:hover{
	background: #98C2D0 !important;
	color: #fff !important;
}
.portfolio_single_content div{
	background: none repeat scroll 0 0 rgba( 152, 194, 208, 0.95);
}



/* === Team === */
.team-hover {
	background: none repeat scroll 0 0 rgba( 152, 194, 208, 0.9);
}



/* === Price === */
.prices .panel-default .panel-heading {
	box-shadow: inset 0px 4px 0px #98C2D0;
}
.prices .price-box-featured .panel-heading {
	background-color: #98C2D0;
	color: #FFF;
}
.prices .price-box-featured .panel-footer {
	box-shadow: inset 0px -4px 0px #98C2D0;
}
.prices .price-box-featured .price-box-ribbon {
	color: #98C2D0;
}



/* === Contact === */
#contact-section {
	background-color: #98C2D0;
}
#contact-section .contact .contact-form button {
	background-color: #98C2D0;
}
#contact-section .contact .contact-form button:hover {
	background-color: #98C2D0;
}



/* === Footer === */
.footer-top {
	background-color: #98C2D0;
}
.footer {
	background-color: #2d3035;
}
#subscribe > button[type="submit"] {
    background: none repeat scroll 0 0 #98C2D0;
}
#subscribe > button[type="submit"]:hover {
    background: none repeat scroll 0 0 #98C2D0;
}
.tweet-content span{
	color:#98C2D0;
}



/* === Buttons === */
.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background: #f188a2;
	color: #fff;
}
.btn-default:hover {
	color: #fff;
	background: #ed6788;
}
.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	background-color: #3078B3;
	color: #FFF;
}
.btn-primary:hover {
	background-color: #1867A8;
	color: #FFF;
}
.btn-danger, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active {
	background-color: #E7392D;
	color: #FFF;
}
.btn-danger:hover {
	background-color: #D81508;
	color: #FFF;
}



/* === To Top === */
.scrolltotop {
	color: #98C2D0;
	border: 2px solid #98C2D0;
}



/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	.navbar-default.navbar-shrink .navbar-nav > li.active > a {
		box-shadow: none !important;
	}
	.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li.active > a {
		color: #98C2D0;
	}


}
